// breakpoints

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

// colors
$black: #000000;
$dark-grey: #474747;
$grey: #7D7D7D;
$light-grey: #E6E6E6;
$white: #FFFFFF;


// font sizes
$font-jumbo: 53px;
$font-bigger: 48px;
$font-big: 30px;
$font-lg: 24px;
$body: 18px;
$font-sm: 16px;
$font-xsm: 14px;

// font weights
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

// fonts
$helvetica: 'Helvetica Neue',Helvetica,Arial,sans-serif;
$body: 'Sarala', sans-serif;
